.sve{
background-image: url(pozadina3.jpg);
background-repeat: no-repeat;

font-style: italic bold;
font-size: 300%;
position: fixed;
display: block;
left: 0;
width: 100%;
height: 100%;
justify-content: center;
align-items: center;
align-content: center;

background-size: cover;
background-position: center center;

font-family: "Times New Roman", Times, serif;

}
